<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="lab3.css">
    </head>

    <body>
        <!-- Add your HTML here -->
        <h1 class="top">Home Page</h1>

        <form action = "/show_users" method = "get">
            <button class="center">Show Users</button>
        </form>
    
        <form action = "/show_moves" method = "get">
            <button class="center">Show Moves</button>
        </form>

    </body>

    

</html>

